* 
{
    box-sizing: border-box;
}

/*The columns inside a row are all floating to the left, and 
are therefore taken out of the flow of the page, and other 
elements will be placed as if the columns do not exist. To 
prevent this, we will add a style that clears the flow:*/

.site-hd
{
    font-family: 'Cinzel', serif;
    text-align: center;
}

#my-container-01
{
    background-image: url("../Images/pexels-photo-176851.jpeg");
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#my-sub-container-01
{
    color: white;
    font-weight: 900;
    font-family: 'Cinzel', serif;
    padding-right: 50px;
    text-align: justify;
}

#my-sub-container-text-01
{
    font-size: 20px;
}

#my-sub-container-02
{
    margin-top: 20px;
}

#my-sub-container-hd-02
{
    margin-bottom: 40px;
}

#my-sub-container-02-signupform
{
    padding-top: 10px;
    padding-bottom: 40px;
    transition: ease-in 1s;
}

#my-sub-container-02-signupform:hover
{
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    box-shadow: 2px 2px black;
}

#my-sub-container-02-signupform.focused
{
    transition: ease-in 1s;
    background-color: rgba(0,0,0,0.7);
    border-radius: 3px;
    box-shadow: 2px 2px black;
}

#my-sub-container-hd-02
{
    font-family: 'Cinzel', serif;
    color: white;
    padding: 0px 40px 0px 40px;
    margin-left: 30%;
}

.my-sub-container-02-input
{
    margin: 20px 35px 15px 40px;
    border-radius: 10px;
    padding: 5px;
    background-color: #272822;
    color: white;
}

.my-sub-container-02-input:focus
{
    outline: none !important;
}

.my-sub-container-02-label
{
    margin: 20px 35px 15px 44px;
    color: white;
    font-family: 'Cinzel', serif;
}

#my-sub-container-02-submit
{
    margin-left: 40%;
    padding: 8px 25px 8px 25px;
    border: 2px solid #00689d;
    border-radius: 4px;
    background-color: #8bac39;
    /*background: -o-radial-gradient(circle, red, yellow, green); /* Opera 11.6 to 12.0 */
    font-family: 'Cinzel', serif;
    font-size: 20px;
    color: white;
}


#aboutus-hd01
{
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 50px;
    /*padding-bottom: 75px; */
    font-family: 'Cinzel', serif;
    color: black;
    font-size: 56px;
    font-weight: 900;
}

#aboutus-img-container
{
    display: flex;
    /*color: pink;*/
    /*background-color: #4c495c;*/
    
}

.aboutus
{
    margin: 0px 50px 50px 50px;
    padding: 50px;
    
}

.aboutus-img-sizing
{
    width: 250px;
    height: 250px;
    border-radius: 25px;
}

.aboutus-figcap
{
    margin-left: 15px;
}



.row
{
    width: 100%
}

.row::after 
{
    content: "";
    clear: both;
    display: block;
}


[class*="col-"] {
    float: left;
    padding: 15px;
}


[class*="col-"] 
{
    /*mobile*/
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
